#include <windows.h>

101 ICON "main.ico"

VS_VERSION_INFO VERSIONINFO
  PRODUCTVERSION 0, 3, 0, 0
  FILEVERSION    0, 3, 0, 0
  FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
#ifndef NDEBUG
  FILEFLAGS VS_FF_DEBUG
#else
  FILEFLAGS 0
#endif
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "0000FDE9"
    BEGIN
      VALUE "FileDescription",  "horus"
      VALUE "ProductName",      "Horus"
      VALUE "LegalCopyright",   "Alexej Harm"
      VALUE "ProductVersion",   "0.3.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0, 0xFDE9  // CP_UTF8 (65001)
  END
END
